[jcargill@CosmicGen-POC-SW1] > /EXPORT
expected command name (line 1 column 2)
[jcargill@CosmicGen-POC-SW1] > /export 
# dec/13/2025 19:17:26 by RouterOS 6.49.19
# software id = ZIRY-4EA8
#
# model = CRS326-24G-2S+
# serial number = DA730D9509A3
/interface bridge
add admin-mac=08:55:31:FB:31:52 auto-mac=no comment=defconf name=bridge vlan-filtering=yes
/interface vlan
add interface=bridge name=vlan10 vlan-id=10
add interface=bridge name=vlan20 vlan-id=20
add interface=bridge name=vlan30 vlan-id=30
add interface=bridge name=vlan40 vlan-id=40
add interface=bridge name=vlan50 vlan-id=50
/interface list
add name=WAN
add name=LAN
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/ip pool
add name=pool_vlan20 ranges=192.168.20.50-192.168.20.200
add name=pool_vlan30 ranges=192.168.30.50-192.168.30.200
add name=pool_vlan40 ranges=192.168.40.50-192.168.40.200
add name=pool_vlan10 ranges=192.168.10.50-192.168.10.200
add name=pool_vlan50_eero ranges=192.168.5.200-192.168.5.250
add name=vpn-pool ranges=192.168.250.10-192.168.250.100
/ip dhcp-server
add address-pool=pool_vlan20 disabled=no interface=vlan20 lease-time=8h name=dhcp_vlan20
add address-pool=pool_vlan30 disabled=no interface=vlan30 lease-time=8h name=dhcp_vlan30
add address-pool=pool_vlan40 disabled=no interface=vlan40 lease-time=8h name=dhcp_vlan40
add address-pool=pool_vlan10 disabled=no interface=vlan10 name=dhcp_vlan10
/ppp profile
add dns-server=192.168.0.1 local-address=192.168.250.1 name=vnp-profile remote-address=vpn-pool use-encryption=yes
/interface bridge port
add bridge=bridge comment=defconf interface=ether1 pvid=50
add bridge=bridge comment=defconf interface=ether2 pvid=10
add bridge=bridge comment=defconf interface=ether3 pvid=10
add bridge=bridge comment=defconf interface=ether4 pvid=10
add bridge=bridge comment=defconf interface=ether5 pvid=10
add bridge=bridge comment=defconf interface=ether6 pvid=10
add bridge=bridge comment=defconf interface=ether7 pvid=10
add bridge=bridge comment=defconf interface=ether8 pvid=10
add bridge=bridge comment=defconf interface=ether9 pvid=10
add bridge=bridge comment=defconf interface=ether10 pvid=10
add bridge=bridge comment=defconf interface=ether11 pvid=50
add bridge=bridge comment=defconf interface=ether12 pvid=50
add bridge=bridge comment=defconf interface=ether13 pvid=50
add bridge=bridge comment=defconf interface=ether14 pvid=50
add bridge=bridge comment=defconf interface=ether15 pvid=50
add bridge=bridge comment=defconf interface=ether16
add bridge=bridge comment=defconf interface=ether17
add bridge=bridge comment=defconf interface=ether18
add bridge=bridge comment=defconf interface=ether19
add bridge=bridge comment=defconf interface=ether20
add bridge=bridge comment=defconf interface=ether21
add bridge=bridge comment=defconf interface=ether22
add bridge=bridge comment=defconf interface=ether23
add bridge=bridge comment=defconf interface=ether24
add bridge=bridge comment=defconf interface=sfp-sfpplus1
add bridge=bridge comment=defconf interface=sfp-sfpplus2
/interface bridge vlan
add bridge=bridge tagged=bridge vlan-ids=20
add bridge=bridge tagged=bridge vlan-ids=30
add bridge=bridge tagged=bridge vlan-ids=40
add bridge=bridge tagged=bridge untagged=ether2,ether3,ether4,ether5,ether6,ether7,ether8,ether9,ether10 vlan-ids=10
add bridge=bridge tagged=bridge untagged=ether1,ether11,ether12,ether13,ether14,ether15 vlan-ids=50
/interface detect-internet
set detect-interface-list=all
/interface l2tp-server server
set authentication=mschap2 default-profile=vnp-profile enabled=yes ipsec-secret=Kass217799+ use-ipsec=yes
/interface list member
add interface=ether1 list=WAN
add interface=ether2 list=LAN
add interface=ether3 list=LAN
add interface=ether4 list=LAN
add interface=ether5 list=LAN
add interface=ether6 list=LAN
add interface=ether7 list=LAN
add interface=ether8 list=LAN
add interface=ether9 list=LAN
add interface=ether10 list=LAN
add interface=ether11 list=LAN
add interface=ether12 list=LAN
add interface=ether13 list=LAN
add interface=ether14 list=LAN
add interface=ether15 list=LAN
add interface=ether16 list=LAN
add interface=ether17 list=LAN
add interface=ether18 list=LAN
add interface=ether19 list=LAN
add interface=ether20 list=LAN
add interface=ether21 list=LAN
add interface=ether22 list=LAN
add interface=ether23 list=LAN
add interface=ether24 list=LAN
add interface=sfp-sfpplus1 list=LAN
add interface=sfp-sfpplus2 list=LAN
/interface pptp-server server
set enabled=yes
/interface sstp-server server
set default-profile=default-encryption enabled=yes
/ip address
add address=192.168.0.254/16 interface=vlan50 network=192.168.0.0
add address=192.168.10.1/24 comment="VLAN10 LAN" interface=vlan10 network=192.168.10.0
add address=192.168.20.1/24 comment="VLAN20 Servers" interface=vlan20 network=192.168.20.0
add address=192.168.30.1/24 comment="VLAN30 Mgmt" interface=vlan30 network=192.168.30.0
add address=192.168.40.1/24 comment="VLAN40 IoT" interface=vlan40 network=192.168.40.0
/ip cloud
set ddns-enabled=yes
/ip dhcp-client
# DHCP client can not run on slave interface!
add disabled=no interface=ether1
add disabled=no interface=bridge
/ip dhcp-server network
add address=192.168.10.0/24 dns-server=192.168.0.1,1.1.1.1 gateway=192.168.10.1
add address=192.168.20.0/24 dns-server=192.168.0.1,1.1.1.1 gateway=192.168.20.1
add address=192.168.30.0/24 dns-server=192.168.0.1,1.1.1.1 gateway=192.168.30.1
add address=192.168.40.0/24 dns-server=192.168.0.1,1.1.1.1 gateway=192.168.40.1
/ip firewall address-list
add address=77.237.236.94 comment="Bruteforce bot" list=blacklist
/ip firewall filter
add action=accept chain=input comment="Allow L2TP/IPsec VPN" dst-port=500,4500,1701 protocol=udp
add action=accept chain=input comment="Allow ESP" protocol=ipsec-esp
add action=accept chain=input comment="allow l2tp" dst-port=1701 protocol=udp
add action=accept chain=input comment="Allow WinBox" dst-port=8291 protocol=tcp
add action=accept chain=input comment="Allow DHCP to router" dst-port=67,68 protocol=udp
add action=accept chain=input comment="Allow DHCP relay VLAN50" dst-port=67,68 protocol=udp
add action=accept chain=forward comment="Allow Proxmox Web UI" dst-port=8006 protocol=tcp
add action=accept chain=input comment="Allow Proxmox UI to router" dst-port=8006 protocol=tcp
add action=accept chain=input comment="allow pptp" dst-port=1723 protocol=tcp
add action=accept chain=input comment="allow sstp" dst-port=443 protocol=tcp
add action=drop chain=input src-address-list=blacklist
add action=drop chain=input dst-port=22,8291 protocol=tcp src-address-list=ssh_blacklist
add action=add-src-to-address-list address-list=ssh_blacklist address-list-timeout=1d chain=input connection-state=new dst-port=22,8291 protocol=tcp src-address-list=\
    !ssh_whitelist
add action=accept chain=input comment="Allow L2TP/IPsec" dst-port=500,4500,1701 protocol=udp
add action=accept chain=input comment="Allow IPsec ESP" protocol=ipsec-esp
add action=add-src-to-address-list address-list=blacklist address-list-timeout=1d chain=input comment="Auto-ban brute force" connection-state=new dst-port=22,8291,8728 \
    protocol=tcp
add action=drop chain=input src-address-list=blacklist
/ip firewall mangle
add action=change-mss chain=forward comment="Clamp MSS for VPN" new-mss=1360 passthrough=yes protocol=tcp tcp-flags=syn
/ip firewall nat
add action=masquerade chain=srcnat out-interface=bridge src-address=192.168.0.0/16
add action=masquerade chain=srcnat comment="masq. vpn traffic" src-address=192.168.89.0/24
add action=masquerade chain=srcnat comment="NAT VPN clients to Eero" out-interface=vlan50 src-address=192.168.250.0/24
/ip route
add distance=1 gateway=192.168.0.1
/ip service
set telnet disabled=yes
set ftp address=192.168.5.0/24 disabled=yes
set ssh address=192.168.0.0/16
set winbox address=192.168.0.0/16
/ppp profile
set *FFFFFFFE local-address=192.168.89.1 remote-address=*1
/ppp secret
add name=Jeremiah password=Kass217799+ profile=vnp-profile service=l2tp
add name=vpn password=Kass217799+
add comment="CosmicGen - Michael" name=Michael password="C0\$m!cG3n" profile=vnp-profile service=l2tp
add name=Bala
add comment="CosmicGen - Bala" name=Bala password="C0\$m!cG3n" profile=vnp-profile service=l2tp
/system clock
set time-zone-name=America/Chicago
/system identity
set name=CosmicGen-POC-SW1
/system routerboard settings
set boot-os=router-os